*.csv
*.xlsx
*.zip
assets/Image Test Files/GFAR_WD/gfa_renamer_log.txt
assets/Image Test Files/GFAR_WD/*.JPG
assets/Image Test Files/*.JPG
assets/Documentation/*.rmd
assets/Documentation/*.md
assets/Documentation/*.ahk
Dev/*.*